body {
  background-color: #e9ebee;
}

.card {
  margin-top: 1em;
}

/* IMG displaying */
.person-card {
  margin-top: 5em;
  padding-top: 5em;
}
.person-card .card-title{
  text-align: center;
}
.person-card .person-img{
  width: 10em;
  position: absolute;
  top: -5em;
  left: 50%;
  margin-left: -5em;
  border-radius: 100%;
  overflow: hidden;
  background-color: white;
}
