<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
    Realised by Thibault Leveau
    https://www.linkedin.com/in/thibault-leveau-a76923ba/
-->
<div class="container" style="margin-top: 1em;">
  <!-- Sign up form -->
  <form>
    <!-- Sign up card -->
    <div class="card person-card">
      <div class="card-body">
        <!-- Sex image -->
        <img id="img_sex" class="person-img"
             src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg">
        <h2 id="who_message" class="card-title">Floyd Warshall Algoritması</h2>
        <!-- First row (on medium screen) -->
        <div class="row">
          <!--<div class="form-group col-md-2">-->
            <!--<select id="input_sex" class="form-control">-->
              <!--<option value="Mr.">Mr.</option>-->
              <!--<option value="Ms.">Ms.</option>-->
            <!--</select>-->
          <!--</div>-->
          <!--<div class="form-group col-md-5">-->
            <!--<input id="first_name" type="text" class="form-control" placeholder="First name">-->
            <!--<div id="first_name_feedback" class="invalid-feedback">-->

            <!--</div>-->
          <!--</div>-->
          <div class="form-group col-md-6 offset-md-3">
            <label for="nodeCount"></label>
            <input id="nodeCount" type="text" class="form-control" [(ngModel)]="nodeCount" name="nodeCount" placeholder="Düğüm sayısını giriniz.">
            <input type="button" class="btn btn-default" value="Tamam" (click)="onCalculate()">
            <div id="last_name_feedback" class="invalid-feedback">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="padding=0.5em;">
        <div class="card">
          <div class="card-body">
            <table>
              <tr *ngFor="let arr of nodeCountArr; let i = index;">
                <td *ngFor="let arr of nodeCountArr; let j = index;">
                  <input type="text" class="form-control" size="4" id="{{i+''+j}}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table border="1">
              <tr *ngFor="let arr of sonuc; let i = index;">
                <th *ngFor="let item of arr; let j = index;">
                  <p *ngIf="sonuc[i][j] != 99999;else other;">{{sonuc[i][j]}}</p>
                  <ng-template #other><p>INF</p></ng-template>
                </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 1em;">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="run()">Hesapla</button>
    </div>
  </form>
</div>
